body {
    font-family: 'News Cycle', sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
}
.years{
    color: #666;
    margin: auto;
}

h1{
    color: #0974b3;
    margin: 0;
}

.block{
    border-top: 5px lightgray solid;
    width: 302px;
    background-color: white;
    float: left;
    box-sizing: border-box;
    overflow: auto;
    padding: 20px;
    margin-right: 20px;
    border-radius: 0 0 10px 10px;
    transition: 0.3s;
}
#nikola{
    height: 182px;
}
.block1{
    border-top: 5px lightgray solid;
    width: 302px; 
    background-color: white;
    float: left;
    box-sizing: border-box;
    overflow: auto;
    padding: 20px;
    margin-right: 20px;
    border-radius: 0 0 10px 10px;
    transition: 0.3s;
}
.content{
    padding-top: 20px;
}
img{
    float: left;
    height: 220px;
    display: block;
    margin-right: 20px;
    padding-bottom: 10px;
}
.a {
    background-color: #187BB6;
    color: white;
    height: 70px;
    border-radius: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    margin-top: 20px;
}
.a:hover {
    background-color: #135b84;
}
a{
    text-decoration: none;
    color: white;
}
.block:hover{
    border-top: 5px #187BB6 solid;
    margin-right: 20px;
    margin-top: -5px;
    cursor: pointer;
}
.block1:hover{
    border-top: 5px #187BB6 solid;
    padding: 20px;
    margin-right: 20px;
    margin-top: -5px;
    cursor: pointer;
}
.hover{
    background-image: url("images/zoom.png");
    position: absolute;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    margin-top: 70px;
    margin-left: 40px;
    opacity: 0;
}
.photo:hover .image{
    filter: brightness(50%);
    opacity: 0.8;
}
.photo:hover .hover{
    opacity: 1;
}
p{
    margin: 0;
}
